# Dependencies
gestao-oficina/dist/
gestao-oficina/node_modules/
gestao-oficina-api/node_modules/

# Logs
gestao-oficina-api/logs/
gestao-oficina-api/*.log
gestao-oficina-api/npm-debug.log*
gestao-oficina-api/yarn-debug.log*
gestao-oficina-api/yarn-error.log*
gestao-oficina-api/pnpm-debug.log*
gestao-oficina-api/lerna-debug.log*

# Environment
#.env
#.env.test
#.env.local

# SSL local certs (if any)
gestao-oficina-api/certs/*.key
gestao-oficina-api/certs/*.cert
gestao-oficina-api/certs/*.pem

# Other
.DS_Store
.vscode/
.idea/
gestao-oficina-api/dist/
gestao-oficina-api/build/
