API_PORT=3000
DB_HOST=192.168.2.107
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Q!w@e3r4
DB_NAME=gestao_oficina_pro

# Configurações de HTTPS (Opcional)
USE_HTTPS=true
SSL_KEY_PATH=./certs/privkey.pem
SSL_CERT_PATH=./certs/fullchain.pem

# Configurações de Geração de Certificado Autoassinado (generate-ssl.js)
SSL_IP=192.168.2.107
SSL_O="Gestão Oficina CA"
SSL_OU="Gestão Oficina SC"
SSL_DAYS=365
